[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
textblob = "*"
pandas = "*"
scikit-learn = "*"
flask-basicauth = "*"

[dev-packages]

[requires]
python_version = "3.9"
